<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_AutoRelatedProducts>
            <version>1.0.0.0</version>
        </IWD_AutoRelatedProducts>
    </modules>

    <global>
        <blocks>
            <iwd_autorelatedproducts>
                <class>IWD_AutoRelatedProducts_Block</class>
            </iwd_autorelatedproducts>
        </blocks>

        <helpers>
            <iwd_autorelatedproducts>
                <class>IWD_AutoRelatedProducts_Helper</class>
            </iwd_autorelatedproducts>
        </helpers>

        <models>
            <iwd_autorelatedproducts>
                <class>IWD_AutoRelatedProducts_Model</class>
                <resourceModel>iwd_autorelatedproducts_mysql4</resourceModel>
            </iwd_autorelatedproducts>
            <iwd_autorelatedproducts_mysql4>
                <class>IWD_AutoRelatedProducts_Model_Mysql4</class>
                <entities>
                    <iwd_auto_related_products>
                        <table>iwd_auto_related_products</table>
                    </iwd_auto_related_products>
                </entities>
            </iwd_autorelatedproducts_mysql4>
            <catalogrule>
                <rewrite>
                    <rule_condition_product>IWD_AutoRelatedProducts_Model_Rule_Product</rule_condition_product>
                </rewrite>
            </catalogrule>
        </models>

        <resources>
            <iwd_autorelatedproducts_setup>
                <setup>
                    <module>IWD_AutoRelatedProducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwd_autorelatedproducts_setup>
            <iwd_autorelatedproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwd_autorelatedproducts_write>
            <iwd_autorelatedproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwd_autorelatedproducts_read>
        </resources>
    </global>

    <admin>
        <routers>
            <iwd_autorelatedproducts>
                <use>admin</use>
                <args>
                    <module>IWD_AutoRelatedProducts_Adminhtml</module>
                    <frontName>iwd_auto_related_products</frontName>
                </args>
            </iwd_autorelatedproducts>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <auto_related_products_check_related>
                        <type>singleton</type>
                        <class>IWD_AutoRelatedProducts_Model_Observer</class>
                        <method>checkRequiredModules</method>
                    </auto_related_products_check_related>
                </observers>
            </controller_action_predispatch>
            <admin_system_config_changed_section_iwd_autorelatedproducts>
                <observers>
                    <auto_related_products_save_load_observer>
                        <class>IWD_AutoRelatedProducts_Model_Observer</class>
                        <method>generateCssFile</method>
                    </auto_related_products_save_load_observer>
                </observers>
            </admin_system_config_changed_section_iwd_autorelatedproducts>
        </events>
        <layout>
            <updates>
                <iwd_autorelatedproducts>
                    <file>iwd_autorelatedproducts.xml</file>
                </iwd_autorelatedproducts>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <iwd_autorelatedproducts>
                <use>standard</use>
                <args>
                    <module>IWD_AutoRelatedProducts</module>
                    <frontName>iwd_autorelatedproducts</frontName>
                </args>
            </iwd_autorelatedproducts>
        </routers>
        <layout>
            <updates>
                <iwd_autorelatedproducts>
                    <file>iwd_autorelatedproducts.xml</file>
                </iwd_autorelatedproducts>
            </updates>
        </layout>
    </frontend>

    <default>
        <iwd_autorelatedproducts>
            <slider>
                <min_slides>1</min_slides>
                <max_slides>10</max_slides>
                <slide_width>170</slide_width>
                <slide_margin>35</slide_margin>
                <slide_mode>horizontal</slide_mode>
                <infinite_loop>false</infinite_loop>
            </slider>
            <design>
                <addbutton_standard>1</addbutton_standard>
                <addbutton_textcolor>#ffffff</addbutton_textcolor>
                <addbutton_textcolor_hover>#ffffff</addbutton_textcolor_hover>
                <addbutton_background>#df0062</addbutton_background>
                <addbutton_background_hover>#ee5b9c</addbutton_background_hover>
            </design>
        </iwd_autorelatedproducts>
    </default>
</config>