<?xml version="1.0"?>
<config>
    <modules>
        <Rishabhsoft_Customerinvoice>
            <version>1.0</version>
        </Rishabhsoft_Customerinvoice>
    </modules>
   <frontend>
        <routers>
            <customerinvoice>
                <use>standard</use>
                <args>
                    <module>Rishabhsoft_Customerinvoice</module>
                    <frontName>customerinvoice</frontName>
                </args>
            </customerinvoice>
        </routers>
        <layout>
            <updates>
                <customerinvoice>
                    <file>customerinvoice.xml</file>
                </customerinvoice>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <customerinvoice>
                <class>Rishabhsoft_Customerinvoice_Model</class>
            </customerinvoice>
        </models>
        <helpers>
            <customerinvoice>
                <class>Rishabhsoft_Customerinvoice_Helper</class>
            </customerinvoice>
        </helpers>
        <blocks>
            <customerinvoice>
                <class>Rishabhsoft_Customerinvoice_Block</class>
            </customerinvoice>
        </blocks>
    </global>
</config>