/* This css file was generate automatically by IWD Auto Related Products extension, please dont change it. File regenerated each time admin IWDAutoRelatedProducts  settings changed*/
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design{background:#DF0062 !important;}
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design:hover{background:#EE5B9C !important;}
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design span{color:#FFFFFF !important;}
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design:hover span{color:#FFFFFF !important;}
	 	