/* This css file was generate automatically by IWD Auto Related Products extension, please dont change it. File regenerated each time admin IWDAutoRelatedProducts  settings changed*/
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design{background:#c8de00 !important;}
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design:hover{background:#5a89ed !important;}
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design span{color:#ffffff !important;}
.iwd-auto-related-products-slider .button.btn-cart.add-to-cart-design:hover span{color:#ffffff !important;}
.iwd-auto-related-products-slider .iwd-add-to-links.add-to-cart-design .link-icons {background-color:c8de00;}
.iwd-auto-related-products-slider .iwd-add-to-links.add-to-cart-design .link-icons:hover {background-color:5a89ed; }
	 	