/* ============================================ *
 * Design 1: NAVIGATION1
 * ============================================ */
/* General Navigation Styles  */
.nav-primary a {text-decoration: none;position: relative;display: block;color: #c64a79;font-size:16px;line-height: 30px;font-family: "Roboto", sans-serif;}
.nav-primary li {position: relative;}
.nav-primary li.level1 a {border-bottom: 1px solid #cccccc;}
.navigation-d1 .nav-primary .menu-active > ul.level0, .nav-primary li.level0 li.sub-menu-active > ul{  display: block;}
.nav-primary li.level0 > a { text-transform: uppercase;}

.nav-primary .nav-cms-block{text-align:center; background: none repeat scroll 0 0 #ffffff; position: absolute;top: 100%; width: 100% !important; border:1px solid #808080;border-top:none;}
.nav-primary .nav-cms-block img{max-width:100%;}
.nav-primary .nav-cms-block.mobile{display:none;}
/*Large Viewports - Dropdown Menu*/
.nav-primary a.level0 { padding: 0 25px; }
.nav-primary a:hover, .nav-primary li:hover > a {color: #7e7e7e;}
.nav-primary .menu-active, .nav-primary li.level0:hover {z-index: 200;}
 
@media only screen and (min-width: 771px) {
   .nav-primary li.level0 ul { border: solid 1px #cccccc;background-color:#fff;position: absolute;left: 0;top: 30px;  /* Height of ".nav-primary a.level0" */ z-index: 10; width: 250px; padding-left: 10px; padding-right: 10px; display: none;  /* Hide until displayed. */}
	
   .nav-primary li.level0, .nav-primary a.level0 {display: inline-block;line-height: normal;}
   .nav-primary li:last-child > a {border-bottom: none;}
   .nav-primary li.level1 ul { left: 60px; top: 15px; }
   .nav-primary li.level0 ul.level0.position-test { display: block;}
   .nav-primary li.level0 ul.level0.spill { right: 0; left: auto;  }
   .nav-primary li.level0 ul.level0.spill li.level1 ul { left: auto; right: 50px;top: 20px;}
   .nav-primary li.level0 li.parent > a { position: relative;}
   .nav-primary li.level0 li.parent > a:after { content: '';position: absolute;width: 0;height: 0;display: block;border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-left: 4px solid #cccccc;border-right: none;right: 5px;top: 50%;margin-top: -3px;}
  .no-touch  li:hover > ul { display: block; /* Force display */}
  
   .nav-primary { display: block; margin-top: 15px;  }
   .nav-primary {
   /* Default styles for 1+ drop-down menus */
   /* Level 2+ */
   /* Styles that only show when the menu is visible */
   /* Class for js to add briefly to evaluate element positioning. */
   /* Correct menus that will hang off the page (class added by js) */
   /* Level 1+ */}
	
	
  /*NAVIGATION D1:start*/	
   .navigation-d1 .nav-primary .sub-wrapper ul.column{float:left;	width:100%; box-sizing:border-box; position:static;border:none;display:block;padding:0 0 0 2.2%}
   .navigation-d1 .nav-primary .sub-wrapper ul.column li{display:none}
   .navigation-d1 .nav-primary .sub-wrapper ul.column li.level1, .navigation-d1 .nav-primary .sub-wrapper ul.column li.level2{display:block}
   .navigation-d1 .nav-primary .sub-wrapper .column-5{	width:20%;}
   .navigation-d1 .nav-primary .sub-wrapper .column-4{	width:25%;}
   .navigation-d1 .nav-primary .sub-wrapper .column-3{	width:33%;}

   .navigation-d1 .nav-primary .sub-wrapper > li{float:left; width:20%;}
   .navigation-d1 .nav-primary .sub-wrapper li.parent > ul{display:block;position:static;width:100%;border:none}	
   .navigation-d1 .nav-primary .sub-wrapper{color:#070707;width:100%; left: 0;top:auto;border: 1px solid grey;padding: 18px 0;}
   .navigation-d1 .nav-primary .sub-wrapper > li.parent{font-size:16px;font-weight: 600;text-transform: uppercase;}
   .navigation-d1 .nav-primary .sub-wrapper li.level1>a{color: #c64a79;font-size: 16px;font-weight: 400;line-height: 21px;padding-bottom: 3px;text-transform: uppercase;}
 .navigation-d1 .nav-primary .sub-wrapper li.level1>a:hover {color: #7e7e7e;}
 .navigation-d1 .nav-primary li.level0 li.parent > a:after{border:none}
   .navigation-d1 .nav-primary .sub-wrapper li.level0 ul{border:none;padding:27px 0;}
   .navigation-d1 .nav-primary li.level1 a{border:none;}
  /*NAVIGATION 1:end*/	
   .nav-primary li {position: static;}
   .nav-primary { display: block; margin-top: 15px;  }
}

@media only screen and (max-width: 770px) {
	
  /* Small Viewports - Accordion Style Menu */
   .nav-primary li.menu-active > a,.nav-primary li.sub-menu-active > a { color: #c64a79;}
   #header-nav { padding: 5px 0; }
   .navigation-d1 .nav-primary{position: relative}
   .navigation-d1 .nav-primary .nav-cms-block{display:none}
   .navigation-d1 .nav-primary .nav-cms-block.mobile{display:block}
   .navigation-d1 .nav-primary .sub-wrapper{padding: 18px 25px;}
	
   .navigation-d1 .nav-primary li.parent.sub-menu-active > a:after,
   .navigation-d1 .nav-primary li.menu-active > a,.nav-primary li.sub-menu-active > a { color: #7e7e7e;}
   .navigation-d1 .nav-primary a{display:block;line-height: 38px;border-bottom:1px solid #e5e5e5}
   .navigation-d1 .nav-primary a.has-children{font-size:16px;color:#c65a79;font-weight:600;}
   .navigation-d1 .nav-primary a.level1{  padding: 0 25px;}
   .navigation-d1 .nav-primary a.level1{ padding: 0 0 0 50px;}
   .navigation-d1 .nav-primary a.level2{ padding: 0 0 0 75px;}
   .navigation-d1 .nav-primary a.level3{ padding: 0 0 0 100px;}
   .navigation-d1 .nav-primary a.level4{ padding: 0 0 0 125px;}
   .navigation-d1 .nav-primary a.level5{ padding: 0 0 0 175px;}
   .navigation-d1 .nav-primary a.level6{ padding: 0 0 0 200px;}
   .navigation-d1 .nav-primary a.level7{ padding: 0 0 0 225px;}
   .navigation-d1 .nav-primary a.level8{ padding: 0 0 0 250px;}
   .navigation-d1 .nav-primary a.level9{ padding: 0 0 0 275px;}
   .navigation-d1 .nav-primary a.level10{ padding: 0 0 0 300px;}
   .navigation-d1 .nav-primary a.level11{ padding: 0 0 0 325px;}
   .navigation-d1 .nav-primary a.level12{ padding: 0 0 0 350px;}
   .navigation-d1 .nav-primary a.level13{ padding: 0 0 0 375px;}
   .navigation-d1 .nav-primary a.level14{ padding: 0 0 0 400px;}
   .navigation-d1 .nav-primary a.level14{ padding: 0 0 0 425px;}
   .navigation-d1 .nav-primary li.parent.sub-menu-active > a:before, .nav-primary li.parent.menu-active > a:before {border-color: #c64a79 transparent transparent;border-left: 6px solid transparent; border-right: 6px solid transparent;border-style: solid solid none; border-width: 6px 6px medium;content: "";display: block;height: 0;left: auto; margin-top: -5px;position: absolute;right: 25px;top: 50%; width: 0;}
   .navigation-d1 .nav-primary li.parent.sub-menu-active > a:after, .nav-primary li.parent.menu-active > a:after {border-color: #ffffff transparent transparent;border-left: 4px solid transparent;border-right: 4px solid transparent;border-style: solid solid none;border-width: 4px 4px medium;content: "";display: block;height: 0;left: auto; margin-top: -6px;position: absolute;right: 27px;top: 50%;width: 0;}
   .navigation-d1 .nav-primary li.parent > a:before {border-color: transparent #000000;border-style: solid none solid solid; border-width: 5px medium 5px 5px; content: ""; display: block; height: 0; margin-top: -6px; position: absolute;right: 31px;top: 50%;width: 0;}
   .navigation-d1 .nav-primary li.parent > a:after {border-color: transparent #ffffff; border-style: solid none solid solid; border-width: 4px medium 4px 4px; content: ""; display: block;height: 0;  margin-top: -5px; position: absolute; right: 33px; top: 50%; width: 0;}	
	
}

