<?xml version="1.0"?>
<config>
    <tabs>
        <iwdall>
            <label>IWD Extensions</label>
            <sort_order>210</sort_order>
            <class>iwd-block</class>
        </iwdall>
    </tabs>
    <sections>
        <iwd_alsobought translate="label" module="iwd_alsobought">
            <label>Also Bought</label>
            <tab>iwdall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <info>
                            <label>Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_model>iwd_alsobought/system_config_form_fieldset_extensions</frontend_model>
                        </info>
                        <user_guide>
                            <label>Documentations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_model>iwd_alsobought/system_config_form_fieldset_documentations</frontend_model>
                        </user_guide>
                    </fields>
                </general>
                <main_settings translate="label">
                    <label>Main settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <order_statuses translate="label">
                            <label>Status of orderes to be used</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>iwd_alsobought/config_status</source_model>
                            <sort_order>10</sort_order>
                            <comment>Select order statuses products for which are bought</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_statuses>
                        <sort_order_also_bought translate="label">
                            <label>Sort order for also bought</label>
                            <sort_order>30</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_alsobought/config_sortorder</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order_also_bought>
                        <store translate="label">
                            <label>From all stores?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <comment>Select from all stores or only current store</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store>
                        <category translate="label">
                            <label>From all categories?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <comment>Select from all categories or only current category</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category>
                        <child translate="label">
                            <label>Include child items?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <comment>By bundle product include bundle parts</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </child>
                        <unpopulars translate="label">
                            <label>If product isn't bought (unpopular)</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>iwd_alsobought/config_unpopulars</source_model>
                            <sort_order>70</sort_order>
                            <comment>What to display if the product is not bought?</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </unpopulars>
                        <sort_order_unpopular translate="label">
                            <label>Sort order for unpopular products</label>
                            <sort_order>80</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_alsobought/config_sortorder</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order_unpopular>
                    </fields>
                </main_settings>
                <product_page translate="label">
                    <label>Product page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Display on product page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <comment>Display block on product page</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <title translate="label">
                            <label>Block title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <comment>Block title (can be empty)</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <max_count translate="label">
                            <label>Maximum products to display</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <comment>Maximum products allowed in the block. (0 - all products)</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_count>
                    </fields>
                </product_page>
                <cart_page translate="label">
                    <label>Cart page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Display on cart page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <comment>Display block on cart page</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <title translate="label">
                            <label>Block title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <comment>Block title (can be empty)</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <max_count translate="label">
                            <label>Maximum products to display</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <comment>Maximum products allowed in the block. (0 - all products)</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_count>
                    </fields>
                </cart_page>
                <slider translate="label">
                    <label>Slider</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <min_slides>
                            <label>Min Slides</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The minimum number of slides to be shown.</comment>
                        </min_slides>
                        <max_slides>
                            <label>Max Slides</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The maximum number of slides to be shown.</comment>
                        </max_slides>
                        <slide_width>
                            <label>Slide Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The width of each slide.</comment>
                        </slide_width>
                        <slide_margin>
                            <label>Slide Margin</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Margin between each slide.</comment>
                        </slide_margin>
                        <slide_mode>
                            <label>Mode</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>iwd_alsobought/config_slidemode</source_model>
                            <comment>Type of transition between slides.</comment>
                        </slide_mode>
                        <infinite_loop>
                            <label>Infinite Loop</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If true, clicking "Next" while on the last slide will transition to the first slide
                                and vice-versa.
                            </comment>
                        </infinite_loop>
                    </fields>
                </slider>
            </groups>
        </iwd_alsobought>
    </sections>
</config>