.md-modal.signin{position:absolute;top:50%;left:50%;width:50%;max-width:380px;min-width:320px;height:auto;z-index:10000;visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.signin.md-show{visibility:visible}
.signin.md-show + .md-overlay{position:fixed;width:100%;height:100%;visibility:hidden;top:0;left:0;z-index:9500;opacity:0;background:rgba(0,0,0,0.6);-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
.signin.md-show + .md-overlay{opacity:1;visibility:visible}
.signin .md-content{color:#7e7e7e;background:#fff;position:relative;border-radius:3px;margin:0 auto;}
.signin .md-content-wrapper{padding:0 35px 20px;}
.signin .md-content h3{text-align:center;font-size:2.4em;font-weight:300;opacity:0.8;background:rgba(0,0,0,0.1);border-radius:3px 3px 0 0;margin:0;padding:.4em}
.signin.md-effect-7{top:20px;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.signin.md-effect-7 .md-content{-webkit-transform:translateY(-200%);-moz-transform:translateY(-200%);-ms-transform:translateY(-200%);transform:translateY(-200%);-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;opacity:0}
.md-show.md-effect-7 .md-content{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);border-radius:10px;opacity:1}
.signin .md-modal-footer {  padding: 19px 20px 20px;  margin-top: 15px;  text-align: right;  border-top: 1px solid #e5e5e5;; overflow:hiden;}
.signin .md-modal-footer .btn + .btn {  margin-bottom: 0;  margin-left: 0;}
.signin .md-modal-footer .btn-group .btn + .btn {  margin-left: -1px;}
.signin .md-modal-footer .btn-block + .btn-block {  margin-left: 0;}
.signin .md-modal-footer  a{font-size:12px;margin-top: 9px; text-decoration:none}
.signin .md-modal-header h4{padding:20px 35px;color:#070707; font-weight:400;font-size:38px;text-align: left;margin-bottom: 0;text-transform: uppercase; font-family: "Yanone Kaffeesatz",sans-serif;}
.signin .md-modal-header .close {background-color: transparent;font-size:0px;cursor: pointer;position: absolute;right: 10px;text-decoration: none;top:10px;z-index: 1000;display: block;height: 12px;width: 14px;border:none;overflow: visible;}
.signin .md-modal-header .close:after {color: #7e7e7e;content: "ï—";font-family: "FontAwesome";font-size: 18px;position: absolute;right: -1px;top: -6px;background-color: transparent;}
.signin .md-modal-header .close:hover {color: #ec87ad !important;}
.signin .md-modal-header .close:hover:after {color: #ec87ad !important;}
.signin{}
.signin *{font-family:"Roboto",sans-serif;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.signin .clear{clear:both}
.signin .ajax-loader{ background-color: rgba(0, 0, 0, 0.3);height: 100%;left: 0;margin: 0 auto;position: absolute;top: 0;width: 100%;display:none}
.signin .login-logo{padding:20px 0;text-align:center;}
.signin .cms-block{margin-bottom:20px;padding:20px 20px 0;}
.signin .cms-block p{font-size:14px;margin:0}

/** LOGIN FORM **/
.signin .login-form{padding:0; text-align:left;}
.signin .login-form .page-title{border:none}
.signin .login-form h1{border-bottom:1px solid #787878;color: #020202;font-size: 16px;font-weight: 300;padding-bottom: 10px;}
.signin .login-input{float:left;width: 100%}
.signin .login-input label{color: #7e7e7e;display: block;font-size: 15px;font-weight: normal;line-height: 1;margin-bottom: 10px;}
.signin .login-input label em{font-size: 15px;color: #ffa6c7;margin-left: 0;}
.signin .login-input input[type="text"],
.signin .login-input input[type="password"]{width: 99.7%;border: 1px solid #7e7e7e;height: 34px; padding: 0 4px;-webkit-border-radius: 3px;border-radius: 3px;}
.signin .row{overflow:hidden;}
.signin .row .login-input{margin-right:0; margin-bottom: 19px;}
.signin .row .login-input + .login-input{margin-bottom:0}

.signin .remember-me{margin-top:10px;float:left;}
.signin .f-p{margin-top:10px;float:left;margin-bottom: 20px;}
.signin .f-p a{color:#ffa6c7; font-size:12px; font-weight:normal; text-decoration:none}
.signin .btn-login{-webkit-border-radius: 3px;border-radius: 3px; height:44px; width:100%; display:block;background-color:#fff;text-align:center; line-height:43px; font-size:26px;text-decoration:none; text-transform:uppercase;cursor:pointer;margin-bottom:5px;padding: 0; color: #ea88ad; border-color: #ec87ad; font-family: "Yanone Kaffeesatz",sans-serif;}
.signin .btn-login:hover{background-color:#ec87ad; color: #fff; border-color: #c64a79;}
.signin #create-account-singup{ font-size: 20px; font-family: "Yanone Kaffeesatz",sans-serif;-webkit-border-radius: 3px;border-radius: 3px; height:31px; width:100%; display:block;background-color:#fff;text-align:center; line-height:28px; color:#7e7e7e;text-decoration:none; text-transform:uppercase;cursor:pointer;padding: 0 !important;margin: 0 !important; border-color: #7e7e7e;}
.signin #create-account-singup:hover{background-color:#3d3d3d; color: #fff; border-color: #3d3d3d;}
.signin .signin-btn-small{font-size:18px;font-family: "Oswald",sans-serif; width:100%; display:block;text-align:center; line-height:31px; color:#070707;text-decoration:none; text-transform:uppercase;cursor:pointer; border: 1px solid #070707;background-color: #fff; font-weight: lighter;}

.signin .signin-btn-small:hover{background-color:#070707; color:#fff;}
.signin .btn-right{float:right; width:50%;}

/*signin-ajax-load{padding-bottom:36px;}*/
#signin-ajax-load .form-list > li {margin-bottom: 20px;}
.signin .account-forgotpassword label.required {margin-bottom: 7px;}
/** Create Account **/
.signin .account-create-signin{padding: 0;text-align: left;}
.signin .account-create-signin li{margin-bottom:0}
.signin .account-create-signin {margin-bottom:0}
.signin .account-create-signin .page-title{border-bottom: 1px solid #787878;}
.signin .account-create-signin .page-title h1{color: #070707;font-size: 16px;font-weight: normal;margin-top: 0;padding-bottom: 8px;text-transform: uppercase;}
.signin .account-create-signin .input-box.left {float:left;}
.signin .account-create-signin .input-box.left input{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 9px;}
.signin .account-create-signin label{ color: #070707;display: block;font-size: 16px;font-weight: normal;line-height: 1;margin-bottom: 7px;}
.signin .account-create-signin  .newsletter label{font-size: 12px !important;margin-left: 5px !important;padding-left: 17px !important;padding-top: 0 !important;}
.signin .account-create-signin  .newsletter input{margin: 0 !important;}
.signin .account-create-signin label:hover{background-color: transparent;}
.signin .account-create-signin label em{font-size: 15px;color: #ec87ad;margin-left: 0;}
.signin .account-create-signin .form-list .field {width:100%;}
.signin .account-create-signin .form-list .field input{width:100%;}
.signin .account-create-signin .form-list .input-box{width:100%;margin-bottom: 17px;line-height: 1;line-height: 1.65em;}
.signin .account-create-signin .form-list input.input-text{width: 100%;border: 1px solid #a7a7a7;height: 34px; padding: 0 4px;-webkit-border-radius: 3px;border-radius: 3px;}
.signin .account-create-signin .extend-input{width:100%;}
.signin .account-create-signin .remember-me{float:none}
.signin .account-create-signin .buttons-set{margin: 0;border: none;}
.signin .account-create-signin p.required {float: none;}	
.signin .account-create-signin .fieldset{background: none repeat scroll 0 0 transparent;border: medium none;padding: 0;margin-top: 0;margin-bottom: 21px;}
.signin .account-create-signin h2{border-bottom: 1px solid #999999;line-height: 1;margin-bottom: 15px;padding-bottom: 10px;color:#000; font-weight:normal;font-size: 16px;}
#signin-ajax-load .form-list > li.newsletter{margin-bottom: 10px;}
.signin .account-create-signin .label{width:auto;}
.signin .account-create-signin .input-box{ width: auto !important;}
.signin .account-create-signin .input-box input{margin-top:0}
.signin .buttons-set .back-link a{color: #ec87ad;font-size: 12px;text-decoration:none}

.opc-menu #modal-login {display: none !important;}
/** Forgot Password */
.signin .account-forgotpassword{padding: 0;text-align: left;}
.signin .account-forgotpassword .page-title{border-bottom: 1px solid #787878; margin-bottom: 9px;}
.signin .account-forgotpassword .page-title h1{color: #070707;font-size: 16px;font-weight: normal;margin-top: 0;padding-bottom: 8px;text-transform: uppercase;}
.signin .account-forgotpassword label{color: #535353;display: block;font-size: 15px;font-weight: normal;line-height: 1;margin-bottom: 10px;}
.signin .account-forgotpassword .fieldset{padding: 22px 15px 12px;}
.signin .account-forgotpassword p.required {float: none;}
.signin .account-forgotpassword .input-box{width:100%}
.signin .account-forgotpassword .input-box input{width: 100%;border: 1px solid #a7a7a7;height: 34px; padding: 0 4px;-webkit-border-radius: 3px;border-radius: 3px;}
.signin .account-forgotpassword .input-box #email_address{width:98%}
.signin .account-forgotpassword .fieldset{background: none repeat scroll 0 0 transparent;border: medium none;padding: 0;margin-top: 0;} 
.signin .account-forgotpassword  p{border-bottom: 1px solid #b6b6b6;color: #535353;display: block;font-size: 14px;margin-bottom: 20px;margin-top: -6px;padding-bottom: 17px;}
.signin .account-forgotpassword .btn-submit{background-color: #fff;
    border-color: #ec87ad;
    border-radius: 3px;
    color: #ea88ad;
    cursor: pointer;
    display: block;
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-size: 26px;
    height: 44px;
    line-height: 43px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;}
.signin .account-forgotpassword .btn-submit:hover{background-color:#ec87ad;color: #fff; border-color: #c64a79;}
.signin .account-forgotpassword .btn-back-login{background-color: #fff;
    border-color: #7e7e7e;
    border-radius: 3px;
    color: #7e7e7e;
    cursor: pointer;
    display: block;
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-size: 20px;
    height: 31px;
    line-height: 28px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;}
.signin .account-forgotpassword .btn-back-login:hover{background-color:#3d3d3d;color: #fff; border-color: #070707;}
.signin .account-forgotpassword .signin-actions{padding-bottom: 17px;}

.signin .socials-login{padding:20px 0 0 0; margin:40px 0 0;text-align: center;border-top:1px solid #b6b6b6;}
.signin .socials-login h4{color:#2a2a2a; font-size:30px;text-align:left; font-weight:normal;margin-bottom:15px; text-transform: none; font-family: "Yanone Kaffeesatz",sans-serif; }
.signin .socials-login a{margin-bottom:17px;background-image: url("images/sprite.png"); background-color:transparent;background-repeat:no-repeat}

.signin .socials-login a:nth-child(even) {margin-right: 10px;}

.signin .btn-facebook-login{  background-position: 0 0;display: inline-block;;height: 32px;text-indent: -999em;width: 147px;cursor:pointer;}
.signin .btn-facebook-login:hover{background-position: -1px -148px;}

.signin .btn-google-login{background-position: 0 -49px;display: inline-block;;height: 32px;text-indent: -999em;width: 147px;cursor:pointer;}
.signin .btn-google-login:hover{background-position: -1px -197px;}

.signin .btn-twitter-login{background-position: -162px 0px;display: inline-block;;height: 32px;text-indent: -999em;width: 147px;cursor:pointer;}
.signin .btn-twitter-login:hover{background-position: -163px -148px;}

.signin .btn-yahoo-login{background-position: -162px -49px;display: inline-block;;height: 32px;text-indent: -999em;width: 147px;cursor:pointer;}
.signin .btn-yahoo-login:hover{background-position: -163px -197px;}

.signin .btn-paypal-login{background-position: -82px -98px;display: inline-block;;height: 32px;text-indent: -999em;width: 147px;cursor:pointer;}
.signin .btn-paypal-login:hover{background-position: -82px -245px;}

.signin .signin-error{ border: 1px dashed #EB340A;margin: 10px 0;padding: 10px;color: #070707;}
.signin .signin-success{border: 1px dashed #c64a79;color: #ec87ad;font-size: 14px;font-weight: normal;margin: 10px 0 0 6px;padding: 10px;}

.signin .success-msg{}
.signin .success-msg{border:1px solid #c64a79 !important;background:#f4f4f4 !important;padding: 10px 22px !important; text-align:center}
.signin .success-msg span{color:#4a4a4a;font-size:14px;font-weight:600}
.signin .success-msg li{border:none !important;padding:0 !important}
.signin .success-msg li:before{border:none !important}
#floatingCirclesG{position:relative;width:64px;height:64px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);top: 20%;margin:0 auto;}

.f_circleG{position:absolute;background-color:#FFFFFF;height:12px;width:12px;-moz-border-radius:6px;-moz-animation-name:f_fadeG;-moz-animation-duration:1.04s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:6px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:1.04s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:6px;-ms-animation-name:f_fadeG;-ms-animation-duration:1.04s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:6px;-o-animation-name:f_fadeG;-o-animation-duration:1.04s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:6px;animation-name:f_fadeG;animation-duration:1.04s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:26px;-moz-animation-delay:0.39s;-webkit-animation-delay:0.39s;-ms-animation-delay:0.39s;-o-animation-delay:0.39s;animation-delay:0.39s;}
#frotateG_02{left:8px;top:8px;-moz-animation-delay:0.52s;-webkit-animation-delay:0.52s;-ms-animation-delay:0.52s;-o-animation-delay:0.52s;animation-delay:0.52s;}
#frotateG_03{left:26px;top:0;-moz-animation-delay:0.65s;-webkit-animation-delay:0.65s;-ms-animation-delay:0.65s;-animation-delay:0.65s;animation-delay:0.65s;}
#frotateG_04{right:8px;top:8px;-moz-animation-delay:0.78s;-webkit-animation-delay:0.78s;-ms-animation-delay:0.78s;-o-animation-delay:0.78s;animation-delay:0.78s;}
#frotateG_05{right:0;top:26px;-moz-animation-delay:0.91s;-webkit-animation-delay:0.91s;-ms-animation-delay:0.91s;-o-animation-delay:0.91s;animation-delay:0.91s;}
#frotateG_06{right:8px;bottom:8px;-moz-animation-delay:1.04s;-webkit-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;animation-delay:1.04s;}
#frotateG_07{left:26px;bottom:0;-moz-animation-delay:1.17s;-webkit-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;animation-delay:1.17s;}
#frotateG_08{left:8px;bottom:8px;-moz-animation-delay:1.3s;-webkit-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;animation-delay:1.3s;}
@-moz-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}

@media only screen and (max-width: 770px) {

    /*.signin .md-content-wrapper {*/
        /*padding: 0 35px 20px;*/
        /*max-width: 320px;*/
    /*}*/
    .signin .socials-login a {
        margin: 10px 0px !important;
    }
}
