<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Rumbleship_Payments>
      <version>1.2.4</version>
    </Rumbleship_Payments>
  </modules>
  <frontend>
    <routers>
      <rumbleship_payments>
        <use>standard</use>
        <args>
          <module>Rumbleship_Payments</module>
          <frontName>rumbleship_payments</frontName>
        </args>
      </rumbleship_payments>
    </routers>
  </frontend>
  <global>
    <helpers>
      <rumbleship_payments>
        <class>Rumbleship_Payments_Helper</class>
      </rumbleship_payments>
    </helpers>
    <models>
      <rumbleship_payments>
        <class>Rumbleship_Payments_Model</class>
      </rumbleship_payments>
    </models>
    <resources>
      <rumbleship_payments_setup>
        <setup>
          <module>Rumbleship_Payments</module>
        </setup>
      </rumbleship_payments_setup>
    </resources>
    <events>
      <sales_order_shipment_save_before>
        <observers>
          <rumbleship_payments>
            <type>singleton</type>
            <class>Rumbleship_Payments_Model_Observer</class>
            <method>createRumbleshipShipment</method>
          </rumbleship_payments>
        </observers>
      </sales_order_shipment_save_before>
    </events>
  </global>
  <default>
    <payment>
      <rumbleship_payments>
        <active>1</active>
        <model>rumbleship_payments/paymentmethod</model>
        <order_status>pending</order_status>
        <title>Rumbleship Flexible Payments</title>
        <allowspecific>0</allowspecific>
        <payment_action>sale</payment_action>
      </rumbleship_payments>
    </payment>
  </default>
</config>
